
/* Mobile */
@media (max-width:768px){
  
  #pcheader{max-width: 100%;}
  #pcheader .topMenu{max-width: 100vw;}
  #pcheader .logo{
    margin: 0 20px;
    width: 50px;
    height: 50px;
    float: right;
  }
  #pcheader img{height: 28px;}
  .pc-gnb{display: none;}
  .side-Btn{display: none;}
  #scroll_btn ul{display: none;}

  h2, p, span{word-wrap: break-word;}


  /* 모바일 메뉴바 --------------------------------------- */
  #moheader{
    display: block;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 110vh;
    z-index: 10000;
    background: rgba(255,255,255,0.8);
    opacity: 0;
    transform: translateX(100%);
    transition: 0.35s;
  }

  #moheader.active{
    opacity: 1;
    transform: translateX(0);
  }

  .modal-gnb{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .modal-gnb .gnb{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .modalLogo{
    width: 50%;
    transform: translateX(50%);
  }
  .modalLogo img{width: 100%;}
  .modal-gnb .gnb a{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: 600;
    padding: 18px;
    text-transform: uppercase;
  }

  .btn-close{
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-size: 2.5rem;
    color: #fff;
    background-color: crimson;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
  }

  .visual-inner{max-width: 100%;}
  main{max-width: 100%;}
  main img{width: 100%;}
  .visualText{
    width: 100%;
    max-width: 100%;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
  }
  .visual-inner{max-width: 100%;}
  .text_shadows{
    font-size: 40px;
    font-size: 2.5rem;
    word-wrap: break-word;
    line-height: 2.2rem;
  }

  .visualImg1,.visualImg3{display: none;}
  .visualImg2{display: block;}

  #first-section{
    max-width: 100%;
    flex-direction: column;
    position: relative;
  }
  
  .section1{
    width: 100%;
    max-width: 100%;
    transform: skew(0);
  }
  .section1:hover{transform: translateY(0);}
  .section1:hover video{
    width: 100%;
    box-shadow: none;
  }
  .section1 video{
    width: 100%;
    height: auto;
  }

  .section2{width: 100%;}
  .section2 h2{
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 35px;
    font-size: 2.188em;
  }
  .section2 .text{
    width: 95%;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 20px;
    padding: 15px;
  }

  .section2 .image01{
    border-radius: 50%;
    width: 100%;
    height: auto;
    transform: scale(0.5);
  }
  .section2 .image01:hover{transform: scale(1);}


  #middle-section{margin: 130px auto;}
  .SquareSec{
    width: 100%;
    margin: auto;
  }
  .SquareSec span{top: 20%;}
  .section3 span{top: 45%;}

  .title{
    max-width: 100%;
    position: relative;
    top: 80px;
    left: 0;
    font-size: 35px;
    font-size: 2.188em;
    word-wrap: break-word;
    border: none;
    backdrop-filter: none;
    background: none;
    -webkit-text-fill-color: #222;
  }

  .desc span{
    width: 90%;
    height: 100%;
    border-radius: 0;
    border-color: rgba(0,0,0,0.1);
    animation: none;
  }
  .desc span:nth-child(1){animation: none}
  .desc span:nth-child(2){animation: none}
  .desc span:nth-child(3){animation: none}

  .desc h2{font-size: 22px; font-size: 1.375rem;}
  .desc p{font-size: 14px; font-size: 0.875rem;}

  .desc .btn{
    width: 80%;
    text-align: center;
    font-weight: 500;
    padding: 0.4em 1em;
  }
  
  #lastS-All>h2{
    font-size: 35px;
    font-size: 2.188em;
  }

  .last-section{
    margin: 50px auto;
    max-width: 100%;
    flex-direction: column;
  }
  .last-section.reverseS{flex-direction: column-reverse;}
  .radiusSection{
    height: 400px;
    display: flex;
    align-items: center;
  }
  .section7,.section8,.section9,.section10,.section11,.section12{width: 100%;}
  .section8 img, .section9 img, .section12 img{height: auto;}
  
  footer{
    height: auto;
    background-image: linear-gradient(to bottom, #fbc2eb 0%, #a6c1ee 50%);
  }
  .foot-inner{
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
  }
  .foot-inner img{height: 30px;}
  .foot-inner span{
    font-size: 16px;
    font-size: 1rem;
    margin: 10px auto;
  }
}